<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
</head>
<body>

<h1>Список книг</h1>

<!-- 🔎 ПОИСК -->
<form method="GET">
    <input type="text" name="q" placeholder="Поиск книги..." value="{{ query }}">
    <button type="submit">Найти</button>
</form>

<hr>

{% for book in books %}
    <p><b>Название:</b> {{ book.title }}</p>
    <p><b>Автор:</b> {{ book.author }}</p>

    <a href="/blog/book/{{ book.id }}/">Открыть</a>
    <hr>
{% empty %}
    <p>Книги не найдены</p>
{% endfor %}

</body>
</html>