<h1>Конные туры</h1>

{% for i in location %}

<h2>Название: {{ i.title }}</h2>

<p>
    Человек:
    {% if i.person %}
        {{ i.person.name }}
    {% else %}
        не указан
    {% endif %}
</p>

<h3>
    Категории:
    <p>
        {% for cat in i.categories.all %}
            {{ cat.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Категории отсутствуют
        {% endfor %}
    </p>
</h3>

<h4>Комментарии:</h4>

{% for com in i.comments.all %}
    <p>Комментарий: {{ com.text }}</p>
    <hr>
{% empty %}
    <p>Комментариев пока нет</p>
{% endfor %}

<hr>
<hr>
<hr>

{% endfor %}


<div>
    {% if location.has_previous %}
        <a href="?page={{ location.previous_page_number }}">⬅ Назад</a>
    {% endif %}

    <span>Страница {{ location.number }}</span>

    {% if location.has_next %}
        <a href="?page={{ location.next_page_number }}">Вперёд ➡</a>
    {% endif %}
</div>